.main-div{
    width: 70%;
    margin: 10px auto;
    border:1px solid gray;
    background-color: beige;
    box-shadow: 5px 7px lightgrey;
    
}

.right-div{
    margin: auto;
    text-align: center;
    border-radius: 10px;
}
.left-div{
    margin: auto;
    text-align: center;
}
.avatar{
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius:3px;
}